In [4]:
import pandas as pd
import os

In [5]:
os.getcwd()

'/Users/trinaghosh/Desktop/Trina/IST 707/Project/Password Strength'

In [6]:
print(os.listdir(os.getcwd()))

['.DS_Store', 'Pre processing.ipynb', 'data.xlsx', 'data.csv', 'IST707_Group_7_Project_Proposal.pdf', '.ipynb_checkpoints']

In [7]:
data = pd.read_excel("data.xlsx")

In [8]:
data.head()

,password,strength,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,kzde5577,1,NaN,NaN,NaN,NaN,NaN
1,kino3434,1,NaN,NaN,NaN,NaN,NaN
2,visi7k1yr,1,NaN,NaN,NaN,NaN,NaN
3,megzy123,1,NaN,NaN,NaN,NaN,NaN
4,lamborghin1,1,NaN,NaN,NaN,NaN,NaN

In [9]:
data = data.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6"], axis = 1)

In [10]:
data.head()

      password strength
0     kzde5577        1
1     kino3434        1
2    visi7k1yr        1
3     megzy123        1
4  lamborghin1        1

In [11]:
strlen = data.password.str.len()

In [12]:
strlen

0          8.0
1          8.0
2          9.0
3          8.0
4         11.0
5         16.0
6          8.0
7          8.0
8         12.0
9          8.0
10         8.0
11        12.0
12        10.0
13        16.0
14        12.0
15        10.0
16        11.0
17         8.0
18         9.0
19         9.0
20        19.0
21         6.0
22        16.0
23        10.0
24        11.0
25        11.0
26        11.0
27         9.0
28        12.0
29         9.0
          ...
669849    13.0
669850    10.0
669851    15.0
669852     9.0
669853    13.0
669854    10.0
669855     9.0
669856     9.0
669857    25.0
669858    16.0
669859    10.0
669860     9.0
669861    16.0
669862     9.0
669863    12.0
669864    10.0
669865    11.0
669866    14.0
669867     9.0
669868     8.0
669869     9.0
669870    16.0
669871     9.0
669872     9.0
669873     6.0
669874    10.0
669875     9.0
669876    12.0
669877     9.0
669878     8.0
Name: password, Length: 669879, dtype: float64

In [13]:
data["Length"] = strlen

In [23]:
data.head(3)

    password strength  Length
0   kzde5577        1     8.0
1   kino3434        1     8.0
2  visi7k1yr        1     9.0

In [15]:
from collections import Counter

In [16]:
import re
temp = re.findall(r'\d+', data.password[0]) 
res = bool(map(int, temp)) 
print(res)

True

In [24]:
def split_string(string):
    return list(str(string))

In [41]:
def reps(x):
    temp = split_string(str(x))
    i = 0
    j = 1
    k = 2
    flag = 0
    for y in range(2,len(temp)-1):
        if temp[i] == temp[j] and temp[j] == temp[k]:
            flag = 1
            x = len(temp) + 1
        else:
            i += 1
            j += 1
            k += 1
    return flag

In [42]:
data.password.astype(str).apply(reps)

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         1
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        1
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
669849    0
669850    0
669851    0
669852    1
669853    0
669854    0
669855    0
669856    0
669857    0
669858    0
669859    0
669860    0
669861    1
669862    0
669863    0
669864    0
669865    0
669866    0
669867    0
669868    0
669869    0
669870    0
669871    0
669872    0
669873    0
669874    0
669875    0
669876    0
669877    0
669878    0
Name: password, Length: 669879, dtype: int64

In [30]:
string1.astype(str).apply(reps)

AttributeError: 'str' object has no attribute 'astype'

In [40]:
data.password

0                          kzde5577
1                          kino3434
2                         visi7k1yr
3                          megzy123
4                       lamborghin1
5                  AVYq1lDE4MgAZfNt
6                          u6c8vhow
7                          v1118714
8                      universe2908
9                          as326159
10                         asv5o9yu
11                     612035180tok
12                       jytifok873
13                 WUt9IZzE0OQ7PkNE
14                     jerusalem393
15                       g067057895
16                      52558000aaa
17                         idofo673
18                        6975038lp
19                        sbl571017
20              elyass15@ajilent-ci
21                           intel1
22                 klara-tershina3H
23                       czuodhj972
24                      faranumar91
25                      cigicigi123
26                      0169395484a
27                        schalke04
28                     prisonbreak1
29                        asgaliu11
                    ...
669849                0933674790MAK
669850                   lmfao12345
669851              MeRAquFABUZy226
669852                    paulooos2
669853                yim0843976474
669854                   eydcivmuj9
669855                    fireyice7
669856                    xlepjrf75
669857    juanpaganini588@gmail.com
669858             tYAam8zg3Mg2AZ7a
669859                   7598692aaa
669860                    ain151090
669861             weslley.06888524
669862                    nt7hm2p5w
669863                 dxipqgtch507
669864                   skate11223
669865                  reeta456456
669866               sakaryal&#305;
669867                    mario3391
669868                     wen2cin2
669869                    mywude577
669870             8rp4PTTM1MAlcLw0
669871                    hattrick9
669872                    lanciau01
669873                       sh4tup
669874                   10redtux10
669875                    infrared1
669876                 184520socram
669877                    marken22a
669878                     fxx4pw4g
Name: password, Length: 669879, dtype: object

In [43]:
data['Repeats'] = data.password.astype(str).apply(reps)

In [45]:
data.head(20)

            password strength  Length  Repeats
0           kzde5577        1     8.0        0
1           kino3434        1     8.0        0
2          visi7k1yr        1     9.0        0
3           megzy123        1     8.0        0
4        lamborghin1        1    11.0        0
5   AVYq1lDE4MgAZfNt        2    16.0        0
6           u6c8vhow        1     8.0        0
7           v1118714        1     8.0        1
8       universe2908        1    12.0        0
9           as326159        1     8.0        0
10          asv5o9yu        1     8.0        0
11      612035180tok        1    12.0        0
12        jytifok873        1    10.0        0
13  WUt9IZzE0OQ7PkNE        2    16.0        0
14      jerusalem393        1    12.0        0
15        g067057895        1    10.0        0
16       52558000aaa        1    11.0        1
17          idofo673        1     8.0        0
18         6975038lp        1     9.0        0
19         sbl571017        1     9.0        0